//departmentsde olan ul-li cagirmaq ucun!
.none {
  height: 450px !important;
}


#header_main {
    max-width:  100vw ;
    padding: 0, 50px;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .header_main_container{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .header_main_selector {
        width: 260px;
        height: 500px;
        &_buton {
          width: 100%;
          height: 50px;
          background-color: #7fad39;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          font-size: 18px;
          font-weight: 700;
          color: white;
          cursor: pointer;
        }
        &_options{
          height: 0px;
          overflow: hidden;
          transition: 300ms;
          
          ul {
            height: 100%;
            margin-top: 20px;
            min-height: 0px;
            padding-left: 40px;
            display: flex;
            flex-direction: column;
            gap: 15px;
  
            li {
              width: 100%;
              cursor: pointer;
              font-size: 20px;
            }
          }
        }
      }
  
      .header_main_photo {
        max-width: 100vw;
        margin-left: 20px;
        .contact_header {
          max-width: 850px;
          display: flex;
          align-items: center;
          gap: 20px;
          .search_box {
            width: 600px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .categories {
              font-size: 16px;
              font-weight: 700;
              padding-left: 10px;
            }
            .line {
              height: 26px;
              border-left: 1px solid rgb(121, 119, 119);
            }
            input {
              border: none;
              height: 48px;
              width: 270px;
              font-size: 18px;
              &:focus-visible {
                outline: none;
              }
            }
  
            .search-button {
              width: 100px;
              height: 50px;
              border-radius: 5px;
              background-color: #7fad39;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              font-weight: 600;
              cursor: pointer;
            }
          }
          .contact {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .phone {
              width: 50px;
              height: 50px;
              border-radius: 100%;
              background-color: #f5f5f5;
              color: #7fad39;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .info {
              display: flex;
              gap: 10px;
              flex-direction: column;
              h4 {
                font-size: 17px;
              }
              p:nth-of-type(2) {
                font-size: 12px;
                color: grey;
              }
            }
          }
        }
        .image {
          max-width: 100%;
          min-height: 80%;
          position: relative;
          margin-top: 30px;
          img {
            width: 100%;
            height: 100%;
          }
          &_text {
            position: absolute;
            left: 30px;
            bottom: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
  
            h3 {
              font-size: 14px;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 4px;
              color: #7fad39;
            }
            h2 {
              width: 300px;
              min-height: 30px;
              font-size: 46px;
              color: #252525;
              line-height: 48px;
              font-weight: 700;
              margin: 10px 0;
              position: absolute;
              left: 10px;
            }
            p {
              font-size: 16px;
              font-family: "Cairo", sans-serif;
              color: #6f6f6f;
              font-weight: 400;
              margin-top: 100px;
            }
            button {
              display: inline-block;
              font-size: 14px;
              padding: 10px 28px 10px;
              color: #ffffff;
              text-transform: uppercase;
              font-weight: 700;
              background: #7fad39;
              letter-spacing: 2px;
              margin-top: 40px;
            }
          }
        }
      }
    }
}

@media only screen and (max-width: 1250px) {
header{
  max-width: 95vw;
  #header_top{
    .header_top_main{
    max-width: 1250px;
    background-color: rgb(255, 255, 255);
    &_left{
      font-size: 14px;

    }
    &_right{
      &_icons{
        font-size: 17px;
      }
      &_language_eng_image{
        p{
          font-size: 13px;
        }
        i{
          font-size: 15px;
        }
        img{
          width: 34px;
          height: 15px;
          margin-left: 9px; 
        }
      }
    }
  }
}
}
}


//slider cards
#slider-card{
  width: 80%;
  margin: 20px auto;
}
#slider-card .cards-section{
  display: flex;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
}
#slider-card .cards-section i{
  color: rgb(134, 127, 127);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 40px;
}
#slider-card .cards-section .card{
  width: 270px;
  height: 300px;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}
#slider-card .cards-section .card img{
   width: 100%;
  
}
#slider-card .cards-section .card .text{
  position: absolute;
  left: 40px;
  bottom: 0px;
  width: 250px;
  height: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
#slider-card .cards-section .card .text p{
  font-size: 28px;
}


//Filter Plugin
#Filter_products{
  max-width: 100vw;
  min-height: 30vh;
  margin-top: 50px;
  margin-bottom: 50px;
  .container_all{
    max-width: 100%;
    height: 100%;
    .head{
      max-width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 15px;
      .text{
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      .line{
        width: 100px;
        border-top: 5px solid #7fad39;
      }
    }
    .filters{
      width: 100%;
      height: 80%;
      .lists{
        ul{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          font-size: 18px;
          .all{
            border-bottom: 3px solid #7fad39;
          }
          li{
            cursor: pointer;
          }
        }
      }
    }
    .card-container{
      display: grid;
      grid-template-columns: auto auto auto auto;
      align-items: center;
      justify-content: center;
      max-width: 80vw;
      margin-bottom: 10px;
      margin-left: 80px;
      gap: 10px !important;
      .card{
        width: 300px;
        height: 350px;
        &-img{
          &:hover{
            
            cursor: pointer;
              i{
                opacity: 1 !important;
              }
          }
          width: 100%;
          height: 270px;
          img{
            width: 100%;
            height: 270px;
          }
          position: relative;
          .icon{
            position: absolute;
            bottom: 5px;
            left: 25%;
            display: flex;
            gap: 10px;
            i{
              font-size: 18px;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: white;
              color: #7fad39;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              transition: 300ms;
              opacity: 0;
              &:hover{
                transform: rotate(360deg);
                background-color: #7fad39;
                color: #f5f5f5;
              }
            }
          }
          .card-info{
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .name{
              font-size: 20px;
            }
            .price{
              font-size: 18px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

// for izotop 
.active{
border-bottom: 3px solid #7fad39;
}